<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Welcome home!</h1>

	<form method="post" >
		<table>
				<tr>
					<td><input type="text" name="search"></td>
					<td><input type="submit" name="submitsearch" value="Search"></td>
				</tr>
				<tr>
					<td><input type="text" name="request"></td>
					<td><input type="submit" name="submitrequest" value="Request for Content"></td>
				</tr>	
		</table>
	</form>

	<a href="/user/movies">Movies</a> |
	<a href="/user/softwares">Softwares</a> |
	<a href="/user/tvseries">Tv Series</a>|
	<a href="/user/games">Games</a> |
	<a href="/login">Login</a>|
	<a href="/signup">SingUp</a> 
	
</body>
</html>