<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Welcome Modaretor</h1>

	<a href="/moderator/adco">Add Content</a>|
	<a href="/moderator/deco">Delete Content</a> |
	<a href="/moderator/vico">view Content</a> |
	<a href="/moderator/profile">Profile</a> |
	<a href="/moderator/req">Request show</a> |
	<a href="/logout">Logout</a> 
	
</body>
</html>