<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Registration</h1>

	<form method="post" >
		<table border="0">
			<tr>
				<td>Full Name</td>
				<td><input type="text" name="fullname"></td>
			</tr>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>PASSWORD</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>Type</td>
				<td>
					<select name="type">
					  	<option value="admin">Admin		</option>
					  	<option value="moderator">Moderator	</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Register"></td>
			</tr>	
		</table>
	</form>
	
</body>
</html>