<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>Welcome Admin</h1>

	<a href="/admin/admo">Add Moderator</a> |
	<a href="/admin/demo">Delete Moderator</a> |
	<a href="/admin/adco">Add Content</a>|
	<a href="/admin/deco">Delete Content</a> |
	<a href="/admin/profile">Profile</a> |
	<a href="/admin/req">Request show</a> |
	<a href="/logout">Logout</a> 
	
</body>
</html>